<h1>Signup</h1>

<%= form_for @user, url: signup_path do |f| %>
  <%= render 'shared/errors', object: @user %>

  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :confirm_password %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.submit 'Signup' %>
  </div>
<% end %>

<p>Already have an account? <%= link_to 'Signin', signin_path %>.</p>
